@tailwind base;
@tailwind components;
@tailwind utilities;



/* Explore More btn */
.explore__moreBtn {
    text-align: right;
}

/* AddCourses.jsx */
.bgimage {
    background-image: url('./assets/cover/cover5.png');
}

.light1 {
    background-image: url('./assets/cover/cover5.png');
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.185); */
    transition: all 0.5s ease-in-out;
}


/* Pagination */
.pagination {
    display: flex;
    gap: 5px;
    border: 1px solid black;
    padding: 12px;
}

.pageLink {
    border: hidden;
    /* background-color: rgba(250, 235, 215, 0.381)!important; */
}

.pageLink:hover {
    border: hidden;
    background: transparent !important;
    /* background-color: rgba(250, 235, 215, 0.381)!important; */
}

.pageLink:focus {
    border: hidden !important;
    outline: transparent !important;
    background: transparent !important;
}

.pageLink {
    padding: 12px;
}

.next {
    font-size: large;
    font-weight: bold;
}

.next ul li a:hover {
    background-color: red;
}

.active {
    background-color: greenyellow;
}